<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="appsignal_response_time"
           data-view="Graph"
           data-title="Response Time"
           data-suffix="ms"
           data-graphtype="line"
           data-graphseries="2"
           style="background-color:#006864"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="appsignal_throughput"
           data-view="Graph"
           data-title="Throughput"
           data-suffix="/h"
           data-graphtype="line"
           style="background-color:#004c68"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="appsignal_error_rate"
           data-view="Graph"
           data-title="Error Rate"
           data-suffix="%"
           data-graphtype="line"
           style="background-color:#5b160a"></div>
    </li>
  </ul>
</div>
